body, html{
    margin:0;
    padding: 0;
    width:100%;
    height:100%;
    overflow: hidden;
    background-color:black;

}


#premioAnnounce{
    position:absolute;
    color:white;
    background-color:rgb(0, 0, 0);
    font-size:20pt;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#BtnPremio{
    width:10%;
    height:auto;
    font-size:20pt;
}

#BtnPremio:hover{
    cursor:pointer;
}



.backgroundscary{
    width:100%;
    height: 120%;
    background:url('scaryface.jpg');
    position:relative;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-animation: bgPisca .2s linear infinite;
    -moz-animation: bgPisca .2s linear infinite;
    -ms-animation: bgPisca .2s linear infinite;
    -o-animation: bgPisca .2s linear infinite;
    animation: bgPisca .2s linear infinite;
}

@keyframes bgPisca {
    0% { filter: invert(0%) }
    100% { filter: invert(100%)}
}



@media (max-width: 450px) {

    body,html{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .backgroundscary{
        width:200%;
        height:300%;
    }

    #premioAnnounce{
        width:200%;
        height: 300%;
        /*background-color:green;*/
        font-size:40pt;
    
    }

    h1{
        margin-top:80%;
    }

    #BtnPremio{
        width:auto;
        font-size:65pt;
    
    }
    
}