body{
    background:black;
    color:white;
}

#quizzBox{
    display:flex;
    flex-direction: column;
    /*background-color:green;*/
    font-size:20pt;
    width: auto;
}

#question{
    position:relative;
    width:auto;
}

#resp{
    position: relative;
    width:20%;
    font-size:18pt;
}

#res::placeholder{
    color:rgba(0, 0, 0, 0.5);
}

#id{
    font-size:18pt;
}

#StartBtn{
    font-size:30pt;
    width: auto;
    height: auto;
}

#StartBtn:hover{
    background-color:rgba(255, 0, 0, 0.226);
    color:white;
}

#respbut{
    margin-top:25px;
    width:10%; 
    font-size:18pt;
}

#respbut:hover{
    cursor:pointer;
    color:white;
    background-color:rgba(97, 97, 97, 0.795);
}

#StartBtn:hover{
    cursor:pointer;
}

#failureDiv{
    color:white;
    font-size:26pt;
    border: 2px solid white;
    width:fit-content;
    padding:5px;
    background-color:rgba(187, 21, 21, 0.486);
}
#failureDiv:hover{
    cursor:pointer;
    color:black;
    background-color:rgba(255, 145, 145, 0.767);
}


@media (max-width: 450px) {

    #resp{
        width:70%;
    }

    #respbut{
        width:60%;
    }
}